<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.NotificationHubs" version="2.16.0.234" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="3.4.2" targetFramework="net461" />
</packages>