<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.6.5" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Azure.NotificationHubs" version="2.16.0.234" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="4.0.0" targetFramework="net461" />
</packages>