<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.NotificationHubs" version="2.16.0.234" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.1.7" targetFramework="net45" />
</packages>