<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="saltWaterFishes" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <saltWaterFishes>
    <add key="Atlantic chub mackerel" value="Scomber colias"/>
    <add key="Alaska pollock" value="Theragra chalcogramma"/>
  </saltWaterFishes>

  <appSettings>
    <add key="debug" value="true"/>
    <add key="connectivityMode" value="AutoDetect"/>
    <add key="selectedEntities" value="Queues,Topics,Relays,Event Hubs,Notification Hubs"/>
    <add key="encoding" value="UTF8"/>
    <add key="showMessageCount" value="true"/>
    <add key="saveMessageToFile" value="true"/>
    <add key="savePropertiesToFile" value="true"/>
    <add key="saveCheckpointsToFile" value="true"/>
    <add key="scheme" value="sb"/>
    <add key="message" value="&lt;message&gt;Hi mate, how are you?&lt;/message&gt;"/>
    <add key="file" value=""/>
    <add key="label" value="Service Bus Explorer"/>
    <add key="retryCount" value="10"/>
    <add key="retryTimeout" value="100"/>
    <add key="top" value="10"/>
    <add key="receiveTimeout" value="1"/>
    <add key="serverTimeout" value="5"/>
    <add key="prefetchCount" value="0"/>
    <add key="senderThinkTime" value="500"/>
    <add key="receiverThinkTime" value="500"/>
    <add key="monitorRefreshInterval" value="30"/>
    <add key="useAscii" value="true"/>
    <add key="messageDeferProvider" value="Microsoft.Azure.ServiceBusExplorer.InMemoryMessageDeferProvider,ServiceBusExplorer"/>
    <add key="Microsoft.ServiceBus.X509RevocationMode" value="NoCheck"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="whale" value="Gray whale"/>
    <add key="shark" value="Blue shark"/>
    <add key="sharkWeight" value="44.12"/>
    <add key="sharkLength" value="158"/>

    <add key="monster" value="KingKong"/>
    <add key="morayEelWeight" value="588"/>
    <add key="morayEelLength" value="214"/>
    <add key="monsterLength" value="344"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
